.miniMode {
  padding: 1rem;
  margin: 0 25%;
  border: 1px dashed slategrey;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
}

.newPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: radial-gradient(snow, slategrey);
  width: 60vw;
}

.newPost_register {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: radial-gradient(snow, slategrey);
  width: 60vw;
  margin-top: -8vw;
}

.newPost_register button {
  padding: 1vw 1vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-right: 3vw;
  margin-left: 3vw;
  text-align: center;
  border-radius: 15px;
  width: 10vw;
}

.newPost_register button:hover {
  box-shadow: 2px 2px 1px black;
  cursor: pointer;
}

.newPost_login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8vw;
  background-image: radial-gradient(snow, slategrey);
  width: 60vw;
}

.newPost_login button {
  padding: 1vw 1vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-right: 3vw;
  margin-left: 3vw;
  text-align: center;
  border-radius: 15px;
  width: 10vw;
}

.newPost_login button:hover {
  box-shadow: 2px 2px 1px black;
  cursor: pointer;
}

.entry_button_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.entry_button_wrapper button {
  padding: 1vw 1vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-right: 3vw;
  margin-left: 3vw;
  text-align: center;
  border-radius: 15px;
  width: 10vw;
}

.entry_button_wrapper button:hover {
  box-shadow: 2px 2px 1px black;
  cursor: pointer;
}

.newPost__input {
  width: 50vw;
  margin-bottom: 1vw;
}

.newPost__description {
  width: 50vw;
  height: 5em;
}

.newPost__drop {
  padding: 1rem;
  color: gray;
  font-size: 1rem;
  border: 1px dotted lightgrey;
  text-align: center;
}

.newPost__upload {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.75rem 0 0 0;
}

.newPost__fileUpload {
  flex-basis: 30%;
}

.newPost__uploadPrompt {
  flex-basis: 50%;
}

.newPost__plus {
  font-size: 6rem;
}

.newPost h3 {
  text-align: center;
}

.post {
  width: 60vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
  padding-top: 1vw;
  padding-bottom: 5vw;
  flex-basis: 50%;
  border: 2px solid transparent;
  border-radius: 15px;
  background-image: radial-gradient(slategrey, black);
  text-align: center;
  color: white;
}

.post h2 {
  text-align: center;
}

.post__image {
  width: 45vw;
}

.post button {
  padding: 1vw 1vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-right: 3vw;
  margin-left: 3vw;
  text-align: center;
}

.post button:hover {
  box-shadow: 2px 2px 0px slategrey;
  cursor: pointer;
}

.postedit_btn {
  width: 10vw;
  border-radius: 15px;
}

.postdelete_btn {
  width: 10vw;
  border-radius: 15px;
}

.like_button {
  width: 5vw;
  color: white;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: slategrey;
}

.post__actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.post__tagline {
  font-size: 1em;
  margin: 1em 0 0.5em 0;
}

.post__remark {
  font-size: 2em;
  margin: 1em 0 0.5em 0;
}
